* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1F1F1F;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.font-size-0 {
    font-size: 0;
}

.uppercase {
    text-transform: uppercase;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    width: 60px;
}


.menu {
    margin-left: 187px;
    display: inline-block;
    vertical-align: middle;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.08em;
    color: #BDBDBD;
    text-decoration: none;
    vertical-align: middle;
    line-height: 20.7px;
}

.header-search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 153px;
}

.main {
    padding: 53px 0 45px;
}

.main-info {
    display: inline-block;
    vertical-align: middle;
    max-width: 552px;
}

.main-image {
    display: inline-block;
    vertical-align: middle;
    margin-left: 51px;
}

.main h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0.08em;
    margin-bottom: 41px;
    color: #1F1F1F;
    margin-bottom: 41px;
}

.main-info-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 20.7px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    margin-bottom: 14px;
}

.main-info-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    margin-bottom: 33px;
}

.button {
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.08em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.button.button-pink {
    background-color: #FE6388;
    width: 137px;
}

.button.button-black {
    background-color: #1F1F1F;
    margin-left: 13px;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
}

.button.button-black.button-black-camera {
    padding-top: 5px;
    padding-left: 9px;
    line-height: 37px;
}

.button.button-black.button-black-bookmark {
    line-height: 21px;

}

.main-actions a.button {
    vertical-align: middle;
}

.films {
    padding: 45px 0 53px;
}

.films h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.3px;
    letter-spacing: 0.08em;
    color: #1F1F1F;
    margin-bottom: 25px;
    text-align: center;
}

.films-items {
    margin-left: -12px;
    margin-right: -12px;
}

.films-item {
    margin: 10px 12px;
    display: inline-block;
    vertical-align: middle;
}

.films-more {
    margin-top: 25px;
    text-align: center;
}

.show-more {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.08em;
    color: #BDBDBD;
    margin-top: 5px;
}

.menu ul li a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.header-search:hover {
    opacity: 0.5;
}

.button.button-pink:hover {
    background-color: #853445;
}

.button.button-black:hover {
    background-color: black;
}

.films-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.films-more:hover, .films-more:hover .show-more {
    color: #1F1F1F;
    cursor: pointer;
}
